# Chapter 2: Khai thác Decision Tree để xác định nguyên tắc tín dụng

## 2.3 Practice

In [4]:
import os
import pandas as pd

project_dir = os.path.abspath(os.path.join(os.getcwd(), ".."))
data_path = os.path.join(project_dir, "data", "raw", "credit_risk_data.csv")
dataset = pd.read_csv(data_path)

In [5]:
dataset.head()

,makhachhang,fico,xephang,thunhap,kinhnghiem,tsdb,xacminh,mucdich,diaphuong,sotk,tienvay,laisuat,khoantragop,trangthai
0,KH000001,729,2,49186,1,2,0,12,MT,9,77505.0,11.21,2545.13,0
1,KH000002,666,3,63671,2,2,0,6,VA,9,57879.0,12.84,1945.71,0
2,KH000003,744,2,38582,2,2,0,4,NY,5,39102.0,11.06,1281.26,0
3,KH000004,832,1,178735,3,0,1,3,NJ,8,286548.0,9.18,9136.17,0
4,KH000005,656,3,81788,0,2,0,12,CT,6,101227.0,12.94,3407.81,0